# --------------------
# Dependencies
# --------------------
**/node_modules
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# --------------------
# Build outputs
# --------------------
**/.vite
**/.next
**/dist
/build
/out
/coverage

# --------------------
# Environment files
# --------------------
.env*
.env*.local

# --------------------
# Logs
# --------------------
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# --------------------
# OS / editor junk
# --------------------
.DS_Store
*.pem
*.tsbuildinfo

# --------------------
# Framework specifics
# --------------------
next-env.d.ts
.vercel

# --------------------
# Optional: ignore experimental apps
# --------------------
apps/
